.home_info_btn {
    padding: 8px 16px;
    margin-top: 8px;
    font-family: $highlight-font;
    font-size: 24px;
    background-color: $brown;
    color: $beige;
    border: 1px solid $beige;
    border-radius: 16px;
    transition: 0.5s all ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: $beige;
        color: $brown;
        border: 1px solid $brown;
    }
}