.contact {
    height: 90vh;
    @include flexCenter(column);
    gap: 32px;

    #{&}_socials,
    #{&}_mail{
        @include flexCenter(column);
        width: 50%;
        background-color: $base-o;
        box-shadow: $subtle;
        padding: 16px 32px;
        border-radius: 16px;
        gap: 20px;

        @media screen and (max-width: $mobile-breakpoint) {
            width: 90%;
        }
        
        h1{
            font-family: $highlight-font;
            color: $highlight;
            font-size: 32px;
        }

        p {
            font-family: $primary-font;
            font-size: 20px;
            margin: 8px 0;
            color: $highlight;
        }

        .links {
            @include flexBetween;
            gap: 48px;
            padding: 16px;
        }

        .soclink {
            @include flexCenter(column);
            transition: 0.25s transform ease-in;
            &:hover {
                transform: scale(1.2);
            }
        }

        .mail {
            @include flexCenter(row);
            gap: 8px;
            transition: 0.25s transform ease-in;
            &:hover {
                transform: scale(1.05);
            }
        }

        .socicon,
        .mailicon {
            font-size: 32px;
            color: $highlight;
        }
    }
}

