.home {
    @include flexBetween;
    padding: 0 18%;
    width: 100vw;
    height: 100vh;
    color: $base;
    font-family: $primary-font;
    letter-spacing: 2px;

    #{&}_info {
        @include flexCenter(column);
    }

    #{&}_info_name{
        font-size: 60px;
        margin: 0;
    }

    #{&}_info_job,
    #{&}_info_asp {
        font-size: 20px;
        margin: 8px;
    }

    #{&}_image {
        img {
            width: 450px;
            height: auto;
        }
        
    }
}


