@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexBetweenCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin grid3x3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}