//fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600&family=Poiret+One&display=swap');
$primary-font: 'Outfit', sans-serif;
$highlight-font: 'Poiret One', cursive;

//colors
$beige: rgb(223, 217, 207);
$brown: rgb(48, 28, 21);
$white: white;
$black: rgb(22, 22, 22);

//shadows
$strong: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$subtle: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;