.footer {
    background-color: $base;
    @include flexCenter(column);
    padding: 30px;
    letter-spacing: 2px;
    font-family: $highlight-font;
    font-weight: bold;
    gap: 8px;
    color: $highlight;

    #{&}_socials {
        @include flexBetween;
        gap: 10px;

        a {
            font-size: 28px;
            color: $highlight;
            padding: 6px 8px;
            border-radius: 20%;
            transition: 0.25s all ease-in;
        }

        a:hover{
            background-color: $highlight;
            color: $base; 
        }
    }
}