.header {
    background-color: $base;
    @include flexBetween;
    padding: 10px 24px;
    letter-spacing: 2px;
    font-family: $highlight-font;
    font-weight: bold;
    font-size: 20px;
    box-shadow: $strong;

    #{&}_logo {
        font-size: 24px;
        background-color: $highlight;
        padding: 10px;
        border-radius: 50%;

        a {
            color: $base;
        }
    }

    #{&}_nav {
        @include flexCenter(row);
        gap: 32px; 

        ul {
            @include flexBetween;
            gap: 16px;
        }

        a {
            padding: 4px 12px;
            border-radius: 8px;
            transition: 0.25s all ease-in;
        }

        a:hover {
            background-color: $highlight;
            color: $base;
        }

        @media only screen and (max-width: $mobile-breakpoint) {
            display:none;
        }
    }
}
